{% extends "base.html" %}

{% block content %}
  <h1>Equipment information</h1>

  <ul>
    <li>Manufacturers: {{ num_manufacturers }}</li>
    <li>Equipments: {{ num_equipments }}</li>
    <li>Commentary: {{ num_comments }}</li>
  </ul>
  <p>
    You have visited this page {{ count_visits }} time{{ count_visits|pluralize }}
  </p>
  <h3>
  Temporary link
  <ul>
    <li><a href="{% url "equipment_information:manufacturer-list" %}">
      Manufacturer list
    </a></li>
    <li><a href="{% url "equipment_information:equipments-category-list" %}">
      Equipment category list
    </a></li>
    <li><a href="{% url "equipment_information:user-list" %}">
      User list
    </a></li>
    <li><a href="{% url "equipment_information:user-detail" pk=user.id %}">
      My list of favorites
    </a></li>
    <li><a href="{% url "equipment_information:equipment-list" %}">
      Equipment list
    </a></li>
  </ul>
  </h3>

  {% if user.is_authenticated %}
    <li>User: <a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>
    <form action="{% url "logout" %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Logout">
    </form>
  {% else %}
    <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
  {% endif %}
{% endblock %}
