{% extends "base.html" %}

{% block content %}
	<h1>Manufacturer list
    <p><a href="{% url "equipment_information:manufacturer-create" %}">Create</a></p>

  </h1>

  {% if manufacturer_list %}
    <form action="" method="get" class="form-inline">
      {{ search_form }}
      <input type="submit" class="btn btn-primary" value="🔍️">
    </form>

    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Country</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      {% for manufacturer in manufacturer_list %}
        <tr>
          <td>{{ manufacturer.id }}</td>
          <td>{{ manufacturer.name }}</td>
          <td>{{ manufacturer.country }}</td>
          <td>
            <a href="{% url "equipment_information:manufacturer-update" pk=manufacturer.id %}">Update</a>
          </td>
          <td>
            <a href="{% url "equipment_information:manufacturer-delete" pk=manufacturer.id %}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </table>
    {% else %}
    <h4>There are no manufacturers in the service.</h4>
  {% endif %}

{% endblock %}