{% extends "base.html" %}

{% block content %}
	<h1>User list
    <p><a href="{% url "equipment_information:user-create" %}">Create</a></p>
  </h1>

  {% if user_list %}
    <form action="" method="get">
      {{ search_form }}
      <input type="submit" value="🔍️">
    </form>

    <table>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Full name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      {% for user in user_list %}
        <tr>
          <td><a href="{% url "equipment_information:user-detail" pk=user.id %}">{{ user.id }}</a></td>
          <td>{{ user.username }}</td>
          <td>{{ user.first_name }} {{ user.last_name }}</td>
          <td>
            {% if user.id == request.user.id or request.user.is_superuser %}
            <a href="{% url "equipment_information:user-update" pk=user.id %}">Update</a>
            {% endif %}
          </td>
          <td>
            {% if user.id == request.user.id or request.user.is_superuser %}
            <a href="{% url "equipment_information:user-delete" pk=user.id %}">Delete</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
    {% else %}
    <h4>There are no users in the service.</h4>
  {% endif %}

{% endblock %}