{% extends "base.html" %}

{% block content %}
	<h1>User list
    <p><a href="#">Need add Create</a></p>

  </h1>

  {% if user_list %}
    <form action="" method="get" class="form-inline">
      {{ search_form }}
      <input type="submit" class="btn btn-primary" value="🔍️">
    </form>

    <table>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Full name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      {% for user in user_list %}
        <tr>
          <td><a href="{% url "equipment_information:user-detail" pk=user.id %}">{{ user.id }}</a></td>
          <td>{{ user.username }}</td>
          <td>{{ user.first_name }} {{ user.last_name }}</td>
          <td>
            <a href="#">need add Update</a>
          </td>
          <td>
            <a href="#">need add Delete</a>
          </td>
        </tr>
      {% endfor %}
    </table>
    {% else %}
    <h4>There are no users in the service.</h4>
  {% endif %}

{% endblock %}