{% load query_transform %}
{% if is_paginated %}
<section>
  <div class="container">
    <div class="row justify-space-between py-2">
      <div class="col-lg-4 mx-auto">
        <ul class="pagination pagination-dark m-4">
          <li class="page-item">
            {% if page_obj.has_previous %}
            <a class="page-link" href="?{% query_transform request page=page_obj.previous_page_number %}" aria-label="Previous">
              <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true">👈</i></span>
            </a>
            {% endif %}
          </li>
          <li class="page-item active">
            <span class="page-link">{{ page_obj.number }}</span>
          </li>
          <li class="page-item">
            <span class="page-link">of</span>
          </li>
          <li class="page-item">
            <span class="page-link">{{ paginator.num_pages }}</span>
          </li>
          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?{% query_transform request page=page_obj.next_page_number %}" aria-label="Next">
              <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true">👉</i></span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</section>
{% endif %}